@model IEnumerable<Gif>
@{
    ViewData["Title"] = "My Gifs";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/gifCard.css">
</head>

<h1>My Gifs</h1>
<div id="paginationNavi">


@if (ViewBag.Page > 1)
{
    <a href="@Url.Action("MyGifs", new { page = ViewBag.Page - 1 })"
       class="tag">
        &laquo;
    </a>
}
@if (ViewBag.Page > 2)
    {
        <a href="@Url.Action("MyGifs", new { page = 1 })"
           class="tag">
            1
        </a>
        if (ViewBag.Page > 3)
        {
            <div class="tag">...</div>
        }
    }

@if (ViewBag.Page > 1)
{
    <a href="@Url.Action("MyGifs", new { page = ViewBag.Page - 1 })"
        class="tag">
        @(ViewBag.Page - 1)
    </a>
}
<a href="@Url.Action("MyGifs", new { page = ViewBag.Page })"
    class="tag">
    @(ViewBag.Page)
</a>
@if (ViewBag.Page + 1 < ViewBag.MaxPage)
{
            
    <a href="@Url.Action("MyGifs", new { page = ViewBag.Page + 1 })"
        class="tag">
        @(ViewBag.Page + 1)
    </a>
}
@if(ViewBag.Page + 2 < ViewBag.MaxPage)
{
    <a href="@Url.Action("MyGifs", new { page = ViewBag.Page + 2 })"
        class="tag">
        @(ViewBag.Page + 2)
    </a>
    if (ViewBag.Page + 3 < ViewBag.MaxPage)
    {
        <div class="tag">...</div>
    }
}

<a href="@Url.Action("MyGifs", new { page = ViewBag.MaxPage })"
    class="tag">
    @(ViewBag.MaxPage)
</a>

@if (ViewBag.Page < ViewBag.MaxPage)
{
    <a href="@Url.Action("MyGifs", new { page = ViewBag.Page + 1 })"
       class="tag">
        &raquo;
    </a>
}

</div>

@foreach(var obj in Model)
{
    <div class="ImgCard">
        <div class="CardHeader">     
            <span class="Author">@obj.Author</span>
            <span class="DateOfPosting">Added: @obj.Created.ToShortDateString()</span>
        </div>
        <div class="CardBody">
            <img src=@obj.Image />
            <div class="Tags">
                @foreach (var tag in obj.Tags.Split(','))
                {
                    <span class="Tag">@tag</span>
                }
            </div>
            <div class="CardButtons">
                <span style="display:none">@obj.Id</span>
                @Html.ActionLink("X","Delete", new {id = obj.Id}, new {@class="optionButton"})
                @Html.ActionLink("Y","Edit", new {id = obj.Id}, new {@class="optionButton"})
            </div>
        </div>
    </div>
}
