@model IEnumerable<Gif>
@{
    ViewData["Title"] = "My Gifs";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/gifCard.css">
</head>

<h1>My Gifs</h1>


@foreach(var obj in Model)
{
    <div class="ImgCard">
        <div class="CardHeader">     
            <span class="Author">@obj.Author</span>
            <span class="DateOfPosting">Added: @obj.Created.ToShortDateString()</span>
        </div>
        <div class="CardBody">
            <img src=@obj.Image />
            <div class="Tags">
                @foreach (var tag in obj.Tags.Split(','))
                {
                    <span class="Tag">@tag</span>
                }
            </div>
            <div class="CardButtons">
                <span style="display:none">@obj.Id</span>
                @Html.ActionLink("X","Delete", new {id = obj.Id}, new {@class="optionButton"})
                @Html.ActionLink("Y","Edit", new {id = obj.Id}, new {@class="optionButton"})
            </div>
        </div>
    </div>
}
<dialog id="alterModal">
    <object type="text/html" href="Edit.cshtml"></object>
    <input type="button" id="alterModalCancel" onclick="cancelModal()" value="Cancel" />
</dialog>

<script>
    function ShowInterface() {
        document.querySelector('#alterModal').showModal();
    }
    function cancelModal() {
        document.querySelector('#alterModal').close();
    }
</script>